language:
  - php

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4
  - nightly

before_script:
  - phpize && ./configure CFLAGS="-O2 -g3 -Wall -Werror" --silent && make --silent && make install

script:
  - .travis/run_php_tests.sh
  - phpenv config-add .travis/stribog.ini
  - $(phpenv which php) benchmark.php

after_failure:
  - .travis/after_failure.sh
